.footer-ver {
  display: flex;
  position: fixed;
  bottom: -1px;
  width: 100%;
  height: 80px;
  background: white;
  left: 0;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tu preferencia */
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05)
  ); /* Ajusta la opacidad según tu preferencia */
}
.contadorInput {
  padding: 10px;
  outline: none;
  font-size: 1em;
  width: 100px;
}
.footer-ver .footer-section_v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}
.footer-ver .footer-section_v .button {
  width: 34px;
  height: 34px;
  font-size: 2.1em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px;
}
.footer-ver .footer-section_v p:nth-child(2) {
  width: 34px;
  height: 34px;
  background: rgb(236, 235, 235);
  border-radius: 6px;
  font-size: 1.7em;
  margin: 0px 8px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.footer-ver .footer-section_v .btnComprar {
  background: #5db352;
  padding: 13px;
  border: 0px solid;
  border-radius: 15px;
  width: 140px;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 0.9em;
  box-shadow: inset 0 0px 40px rgba(0, 0, 0, 0.2);
}
